
body{
	background-color: #c2b9b9;
}
.container{
	position: absolute;
	height:400px;
	width:800px;
    background-color: white;
    margin-left: 50%;
    top:50px;
    transform:translate(-50%);
}

.move{
	position: absolute;
	bottom:130px;
	margin: 0;
}
.boom{
    position: absolute;
    display: none;
    bottom:200px;
	margin: 0;
}

.player{
	position: absolute;
	bottom:130px;
	right:0;
	margin: 0;
}